/*-------reset begin---------*/
body {
  font-family: "Microsoft Yahei";
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  width: 100%;
  background-color: #F6F6F7 !important;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dd {
  margin: 0;
}
p {
  margin: 0;
}
form {
  margin: 0;
}
img {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  font-weight: normal;
}
input {
  margin: 0;
  outline: none;
  padding: 0;
}
textarea {
  outline: none;
}
img {
  border: 0;
}
a {
  outline: 0;
  text-decoration: none;
  font-family: 'Microsoft yahei';
  text-align: center;
  color: #2D2D2C !important;
}
p {
  font-family: 'Microsoft yahei';
  text-align: center;
}
a:focus {
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
  cursor: pointer;
}
li {
  line-height: inherit;
  list-style: none;
}
.body_main_box {
  background-color: #F6F6F7 ;
  min-height: 20px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #888888!important;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #888888!important;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #888888!important;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #888888!important;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #888888!important;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #888888!important;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #888888!important;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #888888!important;
}
.ant-select-selection__placeholder {
  color: #888888!important;
}
