@import '~antd/dist/antd.css';

p,h1,h2,h3,h4{
  margin-bottom: 0;
}

.container{
  max-width: 1154px; 
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 36px 0 38px;
}

.main-content-box{
  // min-height: 700px;
  background-color: #fff;
}

.ant-layout-header{
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.1);
  overflow: hidden;
  &.other-layout-header{
    background-color: #07111B;
    .ant-menu{
      background: #07111B;
      li{
        color: #717A84;
        &.ant-menu-item-selected{
          background: #07111B;
        }
        &:hover{
          color: #fff;
        }
      }
    }
    .header-user{
      color: #717A84;
      .ant-avatar{
        background-color: #fff;
      }
    }
  }
  .logo{
    float: left;
    img{
      height: 63px;
      width: auto;
    }
  }
  .ant-menu{
    background: #fff;
    width: 600px;
    float: left;
    li{
      color: #4D555D;
      &.ant-menu-item-selected{
        background-color: #fff;
      }
      &:hover{
        color: #333;
      }
    }
  }
  .header-user{
    float: right;
    .ant-badge{
      margin-right: 20px;
    }
    i{
      padding: 0 3px;
    }
    .header-login-link{
      color: #333;
    }
  }
}
.ant-layout-footer{
  background: #1c1f21;
  ul{
    padding-left: 0;
    overflow: hidden;
    li{
      float: left;
      margin-right: 30px;
      a{
        color: #c8cdd2;
        font-weight: 500;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}
